@import url('https://fonts.googleapis.com/css2?family=Jura&family=Playball&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura&family=Kalam:wght@300;400;700&family=Playball&display=swap');

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    background-image: linear-gradient(to right top, #bb4c8b, #b35ba2, #a76ab6, #9978c6, #8886d2, #7795e0, #63a4ea, #4fb2f1, #31c6f9, #1fd9fb, #37eaf8, #5ffbf1);
}

header ul{
list-style: none;
display: flex;
flex-direction: row;
}

header ul li{
    margin: 10px;
}

header img{
    width: 250px;
    padding: 20px;
}

.card{
    width: 45%;
    align-content: end;
}

img{
    width: 150px;
}

h2{
    font-size: 70px;
    color: rgb(45, 122, 98);
    font-family: "Playball", cursive;
}

p{
    font-size: 16px;
    color: rgb(0, 0, 0);
    font-family: "Kalam", cursive;
  font-weight: 400;
  font-style: normal;

}

.contenedor{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 10px 10px 10px 160px;
    justify-content: center;
    background-color: #c478a9;
    opacity: .7;
    border-radius: 25px;
    align-content: center;
}


.caja{
    width: 100%;
    height: 100%;
    display: flex;
    padding: 40px;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.caja img{
    width: 400px;
    height: fit-content;
    border-radius: 50%;
}

.caja{
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
    align-content: center;
    text-align: justify;
}

    .cabecera{
        color: #333;
        padding: 20px;
        transition: color 0.3s ease-in-out;
    }
    .cabecera:hover{
        color: #e83f8b;
    }

    .cabecera{
        width: 100%;
        font-size: 10px;
        padding-inline: 600px;
        font-family: "Playball", cursive;
        font-weight: 100;
        font-style: normal;
        text-align: justify;
}